body {
    background: #e2e2e2;
}

header {
    min-height: 150px;
    background: #255F2B;
    padding: 20px;
    margin-bottom: 15px;
}

.footer-content {
    padding-top: 10px;
}

.header-title,
.header-sub {
    color: #FCAF17;
}

.header-sub {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
}

.content {
    background: #fff;
    padding: 20px;
    margin-bottom: 10px;
}
